@media (max-device-height : 568px) and
       (device-width : 320px) and
       (orientation : portrait) {

  body.home > div {
    width: 100%;
    font-size: 34px;
    margin-left: -50%;
    margin-top: 33%;
  }
  body > b {
    background: url('../images/background-iphone.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  body nav {
    float: none;
    margin: 20px 0 0 0;
  }
  body nav i {
    position: absolute;
    display: block;
    background-image: url(../images/threelines.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    width: 30px;
    height: 30px;
    left: 50%;
    top: 0%;
    margin-left: -15px;
  }
  body nav ul {
    display: none;
    margin: 0 0 0 0;
  }
  body nav ul li {
    float: none;
    text-align: center;
  }
  body.page > div {
    width: 100%;
    margin: 10% 0 0 0;
    position: static;
  }
  body.page div h1 {
    font-size: 50px;
  }
  div.height400 {
    height: auto;
  }
  div.height200 {
    height: auto;
  }
  div.height300{
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0;
  }
  div.height300 div {
    margin: 0 0 0 0 !important;
  }
}

* {
  box-sizing: border-box;
  font-family: 'Lato';
}

body, html {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

b {
  z-index: -1;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
  top: 0;
  color: #3D3531;
  background: url('../images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/background.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/background.jpg', sizingMethod='scale')";
}

a {
  color: #3D3531;
}
nav a:hover, a.active {
  border-bottom: 1px solid;
}

nav {
  float: left;
}

nav i {
  display: none;
}

nav ul {
  padding: 0 0 0 0;
  margin: 30px 0 0 25px;
}

nav ul li {
  list-style-type: none;
  margin-bottom: 5px;
}

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  line-height: 1.25em;
  letter-spacing: 3px;
  font-weight: 400px;
}

nav ul li a:hover, a.active {
  color: #000;
}

/* Home */
.home div {
  font-weight: 100;
  font-size: 70px;
  text-align: center;
  position: absolute;
  height: 10%;
  width: 40%;
  text-align: center;
  left: 50%;
  margin-left: -20%;
  margin-top: 25%;
}
.home div a {
  text-decoration: none;
}
.home div span {
  display: block;
  font-size: 20px;
  margin-top: 5px;
}

/* Page CSS */
.page > div {
  top: 25px;
  width: 56%;
  background: #fff;
  margin-left: -28%;
  position: absolute;
  left: 50%;
  padding: 25px;
  margin-bottom: 100px;
}
.page h1 {
  margin: 0 0 25px 0;
  font-size: 60px;
  text-align: center;
  font-weight: 100;
}
.page h3 {
  font-size: 26px;
  margin-bottom: 5px;
}
.page p {
  font-family: "helvetica neue", "helvetica", sans-serif;
}

/* Proposal */
.proposal .image-mask {
  margin-bottom: 25px;
}
.proposal h2 {
  text-align: center;
}

/* info */
p span {
  font-weight: bold;
}

/* registries */
.registries p {
  text-align: center;
}
.registries .image-mask {
  margin-top: 45px;
}

/* Guests */
.guests > div > div{
  margin-bottom: 40px;
  margin-top: 20px;
}

/* Utility Classes */
.image-mask {
  overflow: hidden;
}
.image-mask img {
  width: 100%;
  display: block;
}

.height150 {
  height: 150px;
}
.height200 {
  height: 200px;
}
.height300 {
  height: 300px;
}
.height400 {
  height: 400px;
}
.offset10 {
  margin-top: -10%;
}
.offset20 {
  margin-top: -20%;
}
.offset40 {
  margin-top: -40%;
}
.offset50 {
  margin-top: -50%;
}
.offset55 {
  margin-top: -55%;
}
